body {
    font-size: 24px;
    font-family: Georgia, serif;
    background-color: #eee;
    color: #444;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

p {
    font-size: 1em; /* 24px */
    line-height: 1.2500em; /* 30px */
    margin: 0 0 1.2500em 0;
}

a {
    text-decoration: none;
    color: #cc8400;
}

a:hover {
    color: orange;
}

a.fixed {
    text-decoration: line-through;
    color: #996300;
}

body > section,
body > header,
body > footer {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 760px;
}

body > footer {
    padding-bottom: 2em;
}

body > hr {
    max-width: 800px;
}

section article {
    position: relative;
    padding: 0px 20px;
    padding-left: 70px;

    overflow: hidden;
}

section article:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.5);
}

section article::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 24px;

    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 2px solid #aaa;
    border-radius: 3px;
    font-size: 2em;
    text-align: center;
}

article.untested {
    opacity: 0.5;
}

article.untested::before {
    content: '⌛';
    font-size: 1.5em;
}

/*article.untested header p,*/
article.untested h4,
article.untested ol,
article.untested p.description {
    display: none;
}

article.works::before {
    content: '✓';
    color: green;
}

article.partial::before {
    content: '⚠';
    font-size: 1.5em;
    color: #999900;
}

article.broken::before {
    content: '✗';
    color: red;
}

article header p {
    float: right;
}

article header p a {
    margin-left: 20px;
}

article p.description {
    font-style: italic;
    color: #999;
}

body > footer p {
    font-size: 0.6em;
    line-height: 0.6em;
}

body > footer p iframe {
    margin-bottom: -0.3em;
}

#disqus_thread {
    padding-top: 1em;
}

code {
    font-family: courier, monospace;
    font-size: 0.8em;
    color: #666;
}

#progress {
    overflow: hidden;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}

#progress a {
    float: left;
    background-color: #ccc;
    height: 20px;
}

#progress .works {
    background-color: #8c8;
}

#progress .broken {
    background-color: #f99;
}
